<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

	</startup>
	<appSettings>
		<add key="port" value="13000"/>
		<add key="ipAddress" value="10.169.92.194"/>
		<add key="Date" value="Date"/>
		<add key="Time" value="Time"/>
		<add key="UserName" value="UserName"/>
		<add key="EventID" value="EventID"/>
		<add key="Type" value="Log Level"/>
		<add key="Msg" value="Message"/>
		<add key="logFile" value="c:\\logsFile.txt"/>

	</appSettings>
</configuration>